body {
    background: rgb(158, 42, 204);
    text-align: center;
    color:rgb(121, 245, 245)
}

#Joke-Box {
    background-color: red;
    display: block;
    margin-left: 450px;
    margin-right: 450px;

}