body {
    background: rgb(158, 42, 204);
    text-align: center;
    font-size: large;
    color:rgb(130, 233, 233)
}

#Joke-Box {
    background-color: rgb(5, 0, 4);
    display: block;
    margin-left: 450px;
    margin-right: 450px;
    height: fit-content;

}
#category {
    font-size: small;
}

img {
    padding: 10px;
}

.button {
    background-color:red;
    border: none;
    color: rgb(255, 255, 255);
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;}

    .button1{
        background-color: blue,
    text-align: center,
    text-decoration: none,
    display: inline-block,
    font-size: 12px,
    padding: 9px 9px,
    }

